<link rel="stylesheet" type="text/css" href="{{asset "css/hero-section.css"}}" />
<link rel="stylesheet" type="text/css" href="{{asset "css/featured-posts.css"}}" />

{{!< default}}

<main>
    {{#get "pages" filter="featured:true+tag:hash-hero" include="tags" limit="1"}}
        {{#foreach pages}} 
            <section class="background-media hero-section{{#match @custom.content_position_on_background_media "Center"}} hero-center{{/match}}" data-slug="{{slug}}">
                <div class="wide-container">
                    <div class="hero-content">
                        <div class="hero-content-inner">
                        <div class="hero-text-content">
                            <div class="tags-wrapper{{#if @custom.use_page_load_animations}} ease-in-animation{{/if}}">
                                {{#unless access}}
                                    <div class="flex-center">
                                        <div class="medium-text left-bracket">{{t "["}}</div>
                                        <span class="restricted-access-icon flex-center overlay-text-color">
                                            {{> "icons/lock-icon"}}
                                        </span>
                                        <div class="medium-text right-bracket">{{t "["}}</div>
                                    </div>
                                {{/unless}}
                                {{#foreach tags limit="2"}}                                            
                                    <a href="{{url}}" class="bracket-button">
                                        <div class="medium-text left-bracket">{{t "["}}</div>
                                        <div class="bracket-button-text">
                                            <div class="medium-text main">{{name}}</div>
                                            <div class="medium-text absolute">{{name}}</div>
                                        </div>
                                        <div class="medium-text right-bracket">{{t "["}}</div>
                                    </a>
                                {{/foreach}}
                            </div>

                            <a href={{url}} class="heading-1-wrapper{{#if @custom.use_page_load_animations}} ease-in-animation{{/if}}" data-content-length="{{@custom.content_length_on_background_media}}">
                                <h1>{{title}}</h1>
                            </a>

                            <div class="post-summary-wrapper{{#if @custom.use_page_load_animations}} ease-in-animation{{/if}}">
                                <p class="paragraph overlay">{{custom_excerpt}}</p>
                            </div>
                        </div>
                        {{^match @custom.button_style_on_background_media "None"}}
                            <div class="{{#if @custom.use_page_load_animations}}ease-in-animation{{/if}}">
                                {{>"components/button"}}
                            </div>
                        {{/match}}
                    </div>
                    </div>
                </div>
                <div class="background-image{{#if @custom.use_page_load_animations}} image-animation{{/if}}">
                    {{#if feature_image}} 
                        <figure class="parallax-image">
                            <img             
                                srcset="{{img_url feature_image size="s" format="webp"}} 320w,
                                        {{img_url feature_image size="xm" format="webp"}} 440w,
                                        {{img_url feature_image size="m" format="webp"}} 720w,
                                        {{img_url feature_image size="l" format="webp"}} 960w,
                                        {{img_url feature_image size="xl" format="webp"}} 1200w,
                                        {{img_url feature_image size="xxl" format="webp"}} 2000w,
                                        {{img_url feature_image size="2k" format="webp"}} 2560w,
                                        {{img_url feature_image size="4k" format="webp"}} 3840w"
                                src="{{img_url feature_image size="xxl"}}"
                                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                            >              
                        </figure>
                    {{else}}
                        <div class="placeholder flex-center">
                            {{> "icons/placeholder-icon" }}
                        </div> 
                    {{/if}}
                    <div class="dark-overlay"></div>
                </div>
            </section>
        {{/foreach}} 
    {{/get}}


    {{#match @custom.homepage_post_card_style "Creative"}}
        <link rel="stylesheet" type="text/css" href="{{asset "css/creative-post-card.css"}}" />
       {{#get "pages" filter="featured:true+tag:-hash-hero" limit="10" order="published_at desc"}}
            <section class="section section-relative creative-latest-posts-homepage section-bigger-bottom-padding">
                <div class="wide-container">
                    <div class="subtitle-wrapper subtitle-with-margin z-5">
                        <h2 class="subtitle centered-text">{{t "(Latest posts)"}}</h2>
                    </div>
                    <div class="latest-posts">
                        <div class="latest-posts-inner">               
                            {{#foreach pages}}
                                {{>"components/creative-post-card"}}
                            {{/foreach}}               
                        </div>
                        <div class="heading-1 creative-post-card-title dark dot">.</div>
<!-- 
                        <div class="heading-1 creative-post-card-title dark dot">.</div>
                        <div class="heading-1 creative-post-card-title dark dot">.</div>
 -->
                        <!-- 
<a href="{{@site.url}}/archive/" class="all-posts-link flex-center">
                            <div class="heading-1 dark creative-post-card-title flex-center">{{t "View all posts"}}</div>
                            <div class="arrow-link-button flex-center">
                                <div class="arrow-link-button-wrapper smaller flex-center">
                                    {{> "icons/big-arrow-icon"}}
                                </div>
                            </div>
                        </a>
 -->
                    </div>
                </div>
            </section>
        {{/get}}
    {{else}}
        <link rel="stylesheet" type="text/css" href="{{asset "css/post-card.css"}}" />
    {{/match}}
    
     {{#get "pages" filter="tag:hash-events" include="tags" limit="8"}}
        {{#if pages}}
           <!-- 
 <div class="subtitle-wrapper subtitle-with-margin no-top">
                <h2 class="subtitle centered-text">{{t "(Our selection)"}}</h2>
            </div>
 -->
        {{/if}}

        <div id="circles-section" class="slider-with-circles{{#unless pages}} no-slider{{/unless}}" data-circles-content="{{@custom.homepage_circles_content}}">
            <div class="slider-with-circles-inner">      
                {{#if pages}}
                    {{>"components/slider-component"}}
                {{/if}}

                {{^match @custom.homepage_circles_content "None"}}
                    <div class="circle-wrapper">
                        <div class="circle-outer">
                            <div class="circle-animation">
                                {{>"components/circles-section" circles_data=@custom.homepage_circles_content }}
                            </div>
                        </div>
                    </div>
                {{/match}}
            </div>
        </div>
    {{/get}}   
    
        {{#get "pages" filter="featured:true+tag:-hash-hero" include="tags,authors" limit="all" order="published_at desc"}}
        {{#if pages}}
            <featured-posts class="section no-padding" data-enable-preview="{{@custom.show_featured_post_preview}}">         
                <div class="wide-container">
                    <div class="featured-posts">
                        <div class="featured-posts-inner">
                            <!-- 
<div class="subtitle-wrapper subtitle-with-margin">
                                <h2 class="subtitle">{{t "Featured Pages"}}</h2>
                            </div> -->

                            <div class="featured-posts-wrapper">
                                <div class="featured-posts-list">
                                    <div class="featured-posts-circle"></div>
                                    {{#foreach pages}}
                                        <div class="featured-post">
                                            <div class="featured-post-inner">
                                                <div class="featured-post-top">
                                                    <div class="horizontal-line"></div>

                                                    <div class="tags-wrapper dark">
                                                        {{#unless access}}
                                                            <div class="flex-center">
                                                                <div class="medium-text left-bracket">{{t "["}}</div>
                                                                <span class="restricted-access-icon flex-center">
                                                                    {{> "icons/lock-icon"}}
                                                                </span>
                                                                <div class="medium-text right-bracket">{{t "["}}</div>
                                                            </div>
                                                        {{/unless}}
                                                        {{#foreach tags limit="2"}}                                            
                                                            <a href="{{url}}" class="bracket-button">
                                                                <div class="medium-text left-bracket">{{t "["}}</div>
                                                                <div class="bracket-button-text">
                                                                    <div class="medium-text main">{{name}}</div>
                                                                    <div class="medium-text absolute">{{name}}</div>
                                                                </div>
                                                                <div class="medium-text right-bracket">{{t "["}}</div>
                                                            </a>
                                                        {{/foreach}}
                                                    </div>
                                                </div>

                                                <div class="featured-post-heading-wrapper">
                                                    <a href="{{url}}" class="big-text featured-post-title">
                                                        {{title}}
                                                    </a>
                                                </div>

                                                <div class="featured-post-content">
                                                    <div class="featured-post-sticky-content">
                                                        <a href="{{url}}" class="featured-post-image-wrapper" aria-label="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
                                                            {{#if feature_image}} 
                                                                <figure>
                                                                    <img   
                                                                        class="card-image-inner"                  
                                                                        srcset="{{img_url feature_image size="s" format="webp"}} 320w,
                                                                                {{img_url feature_image size="xm" format="webp"}} 440w,
                                                                                {{img_url feature_image size="m" format="webp"}} 720w,
                                                                                {{img_url feature_image size="l" format="webp"}} 960w,
                                                                                {{img_url feature_image size="xl" format="webp"}} 1200w,
                                                                                {{img_url feature_image size="xxl" format="webp"}} 2000w"
                                                                        src="{{img_url feature_image size="l"}}"
                                                                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                                                    >              
                                                                </figure>
                                                            {{else}}
                                                                <div class="placeholder flex-center">
                                                                    {{> "icons/placeholder-icon" }}
                                                                </div>               
                                                            {{/if}}
                                                        </a>

                                                        <div class="featured-post-excerpt">                                           
                                                            <p class="paragraph">
                                                                {{excerpt}}
                                                            </p>
                                                        </div>

<!-- 
                                                        <div class="card-extra-info card-small-text">
                                                            <p class="paragraph">
                                                                <span>
                                                                    {{authors separator=" & " prefix="by "}},
                                                                </span>
                                                                <span>
                                                                    {{date published_at format="MMM DD, YYYY"}}
                                                                </span>
                                                            </p>
                                                        </div>
 -->

                                                        <a href="{{url}}" class="small-arrow-button">
                                                            <div class="small-arrow-button-text">{{t "Discover more"}}</div>
                                                            <div class="small-arrow-wrapper">
                                                                {{> "icons/small-arrow-icon"}}
                                                            </div>
                                                        </a>
                                                    </div>

                                                    <div class="horizontal-line"></div>
                                                </div>
                                            </div>
                                        </div>
                                    {{/foreach}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </featured-posts>
        {{/if}}
    {{/get}}

    <section class="section-padding-top section-relative last-section{{#match @custom.homepage_post_card_style "Creative"}} hide-posts{{/match}}">
        <div class="wide-container">
            <div class="subtitle-wrapper subtitle-with-margin{{#match @custom.homepage_circles_content "None"}} space-between-subtitle{{/match}}">
                <!-- <h2 class="subtitle{{^match @custom.homepage_circles_content "None"}} centered-text{{/match}}">{{t "(Latest posts)"}}</h2> -->
                {{#match @custom.homepage_circles_content "None"}}<h2 class="subtitle">{{t "("}}{{plural pagination.total empty=(t "No Posts") singular=(t "1 Post") plural=(t "% Posts")}}{{t ")"}}</h2>{{/match}}
            </div>
            <div class="latest-posts">
                <div id="pagination-grid" class="grid">               
                    {{#foreach pages}}
                        {{>"components/post-card"}}
                    {{/foreach}}              
                </div>    

                {{pagination}}              
            </div>
        </div>
    </section>
</main>

<script>
    window.addEventListener("load", () => {
        setVideoOnMediaBackground();
    });
</script>

{{#match @custom.footer_type "Creative"}}
    {{> "components/footer-creative"}}
{{else}}
    {{> "components/footer-normal"}}
{{/match}}
