<link rel="stylesheet" type="text/css" href="{{asset "css/form-page.css"}}" />

{{!< default}}

{{#post}}
    <main class="full-page"{{#unless feature_image}} data-accent-navigation="true"{{else}} data-dark-background-blur="true"{{/unless}}>
        <section class="full-page-section">
            {{> "components/form-page" account_page=true has_link=true type="signin" }}   

            {{#if feature_image}} 
                <div class="background-image duotone{{#if @custom.use_page_load_animations}} image-animation{{/if}}"> 
                    <figure>
                        <img             
                            srcset="{{img_url feature_image size="s" format="webp"}} 320w,
                                    {{img_url feature_image size="xm" format="webp"}} 440w,
                                    {{img_url feature_image size="m" format="webp"}} 720w,
                                    {{img_url feature_image size="l" format="webp"}} 960w,
                                    {{img_url feature_image size="xl" format="webp"}} 1200w,
                                    {{img_url feature_image size="xxl" format="webp"}} 2000w,
                                    {{img_url feature_image size="2k" format="webp"}} 2560w,
                                    {{img_url feature_image size="4k" format="webp"}} 3840w"
                            src="{{img_url feature_image size="xxl"}}"
                            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                        >              
                    </figure>
                    <div class="dark-overlay"></div>                              
                </div>

                <div class="post-content hidden">
                    {{content}}
                </div>
            {{/if}}      
        </section>
    </main>

    <footer class="wide-container footer-bottom-outer{{#unless feature_image}} footer-bottom-dark{{/unless}}{{#if @custom.use_page_load_animations}} opacity-animation{{/if}}">
        <custom-footer data-is-creative="false">
            {{> "components/footer-bottom"}}
        </custom-footer>
    </footer>
{{/post}}

<script>
    window.addEventListener("load", () => {
        setVideo();
    })
</script>