<link rel="stylesheet" type="text/css" href="{{asset "css/secondary-hero.css"}}" />
<link rel="stylesheet" type="text/css" href="{{asset "css/post-card.css"}}" />

{{!< default}}

<main data-accent-navigation="true">
    <section class="secondary-hero">
        <div class="wide-container">         
            <div class="secondary-hero-content">
                <div class="secondary-heading-wrapper">
                    <div class="tags-wrapper dark{{#if @custom.use_page_load_animations}} ease-in-animation{{/if}}">
                        <div class="bracket-subtitle">
                            <div class="medium-text left-bracket">{{t "["}}</div>
                            <div class="bracket-button-text">
                                <div class="medium-text main">{{plural pagination.total empty=(t "No Posts") singular=(t "1 Post") plural=(t "% Posts")}}</div>
                            </div>
                            <div class="medium-text right-bracket">{{t "["}}</div>                    
                        </div>
                    </div>
                    {{#tag}}
                        <h1 class="dark{{#if @custom.use_page_load_animations}} ease-in-animation{{/if}}">
                            {{name}}
                        </h1>
                    {{/tag}}
                </div>

                <div class="secondary-paragraph-wrapper{{#if @custom.use_page_load_animations}} ease-in-animation{{/if}}">
                    <p class="paragraph">
                        {{#tag}}
                            {{description}}
                        {{/tag}}
                    </p>
                </div>
            </div>            
        </div>
    </section>
    <section class="last-section">
        <div class="wide-container">
            <div id="pagination-grid" class="grid grid-with-border{{#if @custom.use_page_load_animations}} ease-in-animation{{/if}}">               
                {{#foreach posts}}
                    {{>"components/post-card"}}
                {{/foreach}}              
            </div> 

            {{pagination}}
        </div>
    </section>
</main>

{{#match @custom.footer_type "Creative"}}
    {{> "components/footer-creative"}}
{{else}}
    {{> "components/footer-normal"}}
{{/match}}