{{!--
    Parameters:
    - is_for_slider: Boolean
--}}

<div class="hero-button-wrapper{{#if is_for_slider}} slide-ease-in-animation{{/if}}" data-button-type="{{@custom.button_style_on_background_media}}">
    <div class="bracket-and-arrow-button">
        <div class="bracket-button-wrapper">
            <a href="{{url}}" class="bracket-button">
                <div class="medium-text left-bracket">{{t "["}}</div>
                <div class="bracket-button-text">
                    <div class="medium-text main">{{t "Read story"}}</div>
                    <div class="medium-text absolute">{{t "Read story"}}</div>
                </div>
                <div class="medium-text right-bracket">{{t "["}}</div>
            </a>
        </div>

        <div class="arrow-button-wrapper">
            <a href="{{url}}" class="arrow-button">
                <div class="arrow-button-text-wrapper">
                    <div class="arrow-button-text main">{{t "Read story"}}</div>
                    <div class="arrow-button-text absolute">{{t "Read story"}}</div>
                </div>
                <div class="arrow-button-circle">
                    <div class="arrow-button-circle-inner">
                        <span class="arrow-button-icon main flex-center">{{> "icons/small-arrow-icon"}}</span>
                        <span class="arrow-button-icon absolute flex-center">{{> "icons/small-arrow-icon"}}</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>