<div class="index-slide-list">
    {{#foreach allPages}}
        {{#has tag="#index"}}
            {{! Skip the index page itself }}
        {{else}}
            <div class="index-slide-row">
                <a href="#" class="index-slide-item bracket-button" data-target-slide="{{subtract @number 1}}">
                    <div class="medium-text left-bracket">{{t "["}}</div>
                    <div class="bracket-button-text">
                        <div class="medium-text main">{{title}}</div>
                        <div class="medium-text absolute">{{title}}</div>
                    </div>
                    <div class="medium-text right-bracket">{{t "]"}}</div>
                </a>
                {{#if excerpt}}
                    <div class="index-slide-excerpt">
                        <p class="paragraph overlay">{{excerpt}}</p>
                    </div>
                {{/if}}
            </div>
        {{/has}}
    {{/foreach}}
</div>
