<custom-notifications class="global-notifications">
    <div class="notification subscribe-false">
        {{> "icons/error-icon" }}
        <p class="paragraph">{{t "Your link has expired. Please request a new one."}}</p>
    </div>
    <div class="notification signup-false">
        {{> "icons/error-icon" }}
        <p class="paragraph">{{t "Your link has expired. Please request a new one."}}</p>
    </div>
    <div class="notification signin-false">
        {{> "icons/error-icon" }}
        <p class="paragraph">{{t "Your link has expired. Please request a new one."}}</p>
    </div>
    <div class="notification subscribe-true">
        {{> "icons/success-icon" }}
        <p class="paragraph">{{t "Great! You've successfully signed up."}}</p>
    </div>
    <div class="notification signup-true">
        {{> "icons/success-icon" }}
        <p class="paragraph">{{t "Great! You've successfully signed up."}}</p>
    </div>
    <div class="notification signin-true">
        {{> "icons/success-icon" }}
        <p class="paragraph">{{t "Welcome back! You've successfully signed in."}}</p>
    </div>
    <div class="notification stripe-success">
        {{> "icons/success-icon" }}
        <p class="paragraph">{{t "Success! You now have access to additional content."}}</p>
    </div>
</custom-notifications>